<a href="https://colab.research.google.com/github/Akshaya66-art/Learning/blob/main/oct9thpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to check a person is eligble for votting
age=int(input("Enter your age :"))
if age>=18:
  print("Eligible for voting")
else:
  print("Not eligible for voting")

Enter your age :18
Eligible for voting

In [ ]:
#Program to find the given number is odd or even
num1=int(input("Enter the number :"))
if num1>0:
  if num1%2==0:
    print("The given number is even")
  else:
    print("The given number is odd")
else:
  print('Invalid input')

Enter the number :8
The given number is even

In [ ]:
# finding the greatest vale

a=int(input("enter the value of a :"))
b=int(input("enter the value of b :"))
if a>b:
  print("a is greater")
else:
  print("b is greater")

enter the value of a :10
enter the value of b :30
b is greater

In [ ]:
6#Program to find largest among three numbers
print("Enter the numbers in order")
num1=float(input("1 :"))
num2=float(input("2 :"))
num3=float(input("3 :"))
if num1>=num2 and num1>=num3:
  print("Greater :",num1)
elif num2>=num1 and num2>=num3:
  print("Greater :",num2)
else:
  print("Greater :",num3)

Enter the numbers in order
1 :50
2 :25
3 :0
Greater : 50.0

In [ ]:
# students rank
name=input("enter your name")
print(name)
english=int(input("enter your mark in english"))
hindi=int(input("enter your mark in hindi"))
maths=int(input("enter your mark in maths"))
total=english+hindi+maths
print(total)
average=total/3
print(average)
if average>=90 and average<=100:
		print("you have got A grade")
elif average>=80 and average<=89:
		print("you have got B grade")
elif average>=70 and average<=79:
		print("you have got C grade")
elif average>=60 and average>=69:
		print("you have got D grade")
elif average>=50 and average<=59:
		print("you have got E")
elif average<50:
		print("you are failed")
else:
		print("no matches");

enter your nameakshaya
akshaya
enter your mark in english79
enter your mark in hindi80
enter your mark in maths72
231
77.0
you have got C grade

In [ ]:
"""electricity charges
for ist 50 units rs:.25
for next extra 50 units(100) rs:.50
for next 50 units (150) re:.75
                  200 and above rs:1"""

name=input("enter your name")
userid=input("enter your userid")
units=int(input("enter the electricity unit"))
if units<=50:
  billamt=units*.25
  print("your bill amount is:",billamt)
elif units<=100:
  billamt=50*.25+(units-50)*.50
  print("your bill amount is:",billamt)
elif units<=150:
  billamt=50*.25+50*.50+(units-100)*.75
  print("your bill amount is:",billamt)
elif units<=200:
    billamt=50*.25+50*.50+50*.75+(units-150)*1
    print("your bill amount is:",billamt)
elif units>200:
    billamt=50*.25+50*.50+50*.75+50*1+(units-200)*1.5
    print("your bill amount is:",billamt)
else:
  print("enter a vaild number")

enter your nameakshaya
enter your useridak123
enter the electricity unit200
your bill amount is: 125.0

In [ ]:
#dressing for the weather
tem=float(input("enter the current temperature in degree"))
if tem>=70:
  print("wear shorts and t shirt")
elif 50<=tem<=69:
  print("wear jeans and alight jacket")
elif tem<=50:
  print("wear heavy coat and warm pants")
else:
  print("wear what you want")

enter the current temperature in degree70
wear shorts and t shirt

In [ ]:
# detmine the seasons on the base of month

month=int(input("enter the month form the list:\n1.january\n2.february\n3.march\n4.april\n5.may\n6.june\n7.july\n8.august\n9.september\n10.october\n11.november\n12.december\n"))
if 3<=month<=5:
  season="spring"
  print(season)
elif 6<=month<=8:
  season="summer"
  print(season)
elif 9<=month<=11:
  season="autumn"
  print(season)
else:
  season="winter"
  print(season)

enter the month form the list:
1.january
2.february
3.march
4.april
5.may
6.june
7.july
8.august
9.september
10.october
11.november
12.december
6
summer

In [ ]:
# calculate the discount on a purchase:

total_price=float(input("enter the tolal price:"))
if total_price>100:
  discount=total_price*.10
else:
  discount=0
final_price=total_price-discount
print("discount:$",discount)
print("final price:$",final_price)

enter the tolal price:120
discount:$ 12.0
final price:$ 108.0

In [ ]:
#leap year
s=int(input("enter the year:"))
if s%400==0 or s%100!=0 and s%4==0:
  print("the year is leap year")
else:
  print("the year is not leap year")

In [ ]:
#Check if a Number is Prime:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 7
7 is a prime number

**string slicing**

In [ ]:
#Program to slice string
name="Hello World"
a="Welcome"
print(name[2:5])
print(name[-4:-2])
print(name[::-1])
print(name+a)
print(a*(12))
print(name[-9:5])

llo
or
dlroW olleH
Hello WorldWelcome
WelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcome
llo

**list slicing**

In [ ]:
#List programs
mylist=["akshaya",25,"Kodungallur"]
print(mylist)
print(mylist[2])
print(mylist[2][::-1])
print(mylist[::-1])

['akshaya', 25, 'Kodungallur']
Kodungallur
rullagnudoK
['Kodungallur', 25, 'akshaya']

**tuple**

In [ ]:
#Tuple programs
mytuple=("akshaya",25,"Kodungallur")
mytuple1=("Ernakulam",)
print(mytuple)
print(mytuple[0:2])
print(mytuple[::-1])
print(mytuple*(12))
p=(mytuple+mytuple1)
print(p)

('akshaya', 25, 'Kodungallur')
('akshaya', 25)
('Kodungallur', 25, 'akshaya')
('akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur', 'akshaya', 25, 'Kodungallur')
('akshaya', 25, 'Kodungallur', 'Ernakulam')

**set**

In [ ]:
myset={29,2,375,"oneteam",2,'a',2,'a'}
print(myset)

{2, 'oneteam', 375, 'a', 29}

dictionary

In [ ]:
mypro={'name':'akshaya','age':'25','place':'kodungallur'}
print(mypro)
print(mypro['name'])
print(mypro['age'])
print(mypro['place'])

{'name': 'akshaya', 'age': '25', 'place': 'kodungallur'}
akshaya
25
kodungallur

In [ ]:
a=10
print(type(a))
s=str(a)
print(type(s))
mylist=[1,'apple',2,'orange',3,'graps']
print(type(mylist))
S=tuple(mylist)
print(type(S))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [ ]:
#while loop
i=0
while(i<=20):
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#while loop even number
sum=0
while(sum<=50):
  print(sum)
  sum+=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:

#multiplication table
sum=0
Mult=int(input("entrer a number"))
limit=int(input("enter the limit"))
while(sum<=limit):
  result=sum*Mult
  print(sum,"*",Mult,"=",result)
  sum+=1

entrer a number6
enter the limit10
0 * 6 = 0
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60

In [ ]:
#while loop sum of even number
limit=int(input("enter the limt up to which you want to find the sum of even numbers"))
sum=0#
even_num=2
while(even_num<=limit):#10 2<10,4<10,6<10,8<10,10<=10,12>=10 not true
  sum+=even_num#0+2=2, 2+4=6,6+6=12,12+8=20,20+10=30
  even_num+=2 #4,6,8,10,12
#print outside loop to show all the result as sum,if you print inside loop each element will show
print(sum)

enter the limt up to which you want to find the sum of even numbers20
110

In [ ]:
#product of even number
limt=int(input("enter the  number up to which you want to calculate the product of even numbers"))
product=1
even_num=2
while(even_num<=limt):
  product*=even_num
  even_num+=2
print(product)

enter the  number up to which you want to calculate the product of even numbers10
3840

In [ ]:
#sum of natural numbers
limit=int(input("enter the number up to which you want to calculate the sum of natural number"))
num=1
sum=0
while(num<=limit):
  sum+=num
  num+=1
print("The sum of the natural numbers of",limit,"is:",sum)

enter the number up to which you want to calculate the sum of natural number10
The sum of the natural numbers of 10 is: 55

In [ ]:
#sum of factorial
limit=int(input("enter the number which you want to sum up the factorial"))
factorial=1
while(limit>0):
  factorial*=limit
  limit-=1
print(factorial)

enter the number which you want to sum up the factorial5
120

In [ ]:
#sum of the digit
num=int(input("enter a number"))
digit=0
sum_digit=0
while(num>0):
  digit=num%10 #digit = num % 10 - This line retrieves the last digit of the number by taking the remainder when divided by 10. For instance, if num = 123, digit will be 3.
  sum_digit+=digit
  num=num//10 #num = num // 10 - This line updates the value of num by eliminating the last digit. For instance, if num = 123, after this operation, num becomes 12 (integer division drops the remainder).
print("sum of the digit is:",sum_digit)

enter a number123
sum of the digit is: 6

In [ ]:
#continue
vari=10
while vari>0:
  vari=vari-1
  if vari==5:
    continue
  print("current value is:",vari)

current value is: 9
current value is: 8
current value is: 7
current value is: 6
current value is: 4
current value is: 3
current value is: 2
current value is: 1
current value is: 0

In [ ]:
#pass
vari=10
while vari>0:
  vari=vari-1
  if vari==5:
    pass
  print("current value is:",vari)

current value is: 9
current value is: 8
current value is: 7
current value is: 6
current value is: 5
current value is: 4
current value is: 3
current value is: 2
current value is: 1
current value is: 0

In [ ]:
#break
vari=10
while vari>0:
  vari=vari-1
  if vari==5:
    break
  print("current value is:",vari)

current value is: 9
current value is: 8
current value is: 7
current value is: 6

In [ ]:
#for loop
for i in "one team":
  print(i)

o
n
e

t
e
a
m

In [ ]:
#for loop
my_list=["akshaya",1998,"kodungallu","kochi"]
for i in my_list:
  print(i)

akshaya
1998
kodungallu
koch

In [ ]:
#for loop factorial
num=5
factorial=1
for i in range(1,num+1):
  factorial=factorial*i
print(factorial)

120

In [ ]:
#another way to find factorial by using for loop
num=int(input("enter the number"))
if num==0:
  print("factorial of 0 is 1")
else:
  product=1
for i in range(num,1,-1):
  product*=i
print(product)

enter the number5
120

In [ ]:
original_list=[1,2,3,4,5]
reversed_list=[]
for item in original_list:
  reversed_list.insert(0,item)
  #here inserting item to 0th position.
print("original list",original_list)
print("reversed list",reversed_list)

original list [1, 2, 3, 4, 5]
reversed list [5, 4, 3, 2, 1]

In [ ]:
#automorphic numbers
num=int(input("enter a number"))
square=num**2
cube=num**3
smod=pow(10,len(str(num)))
cmod=pow(10,len(str(num)))
#checking automorphic
if square%smod==num:
  print("automorphic")
else:
  print("not automorphic")
  #checkin trimorphic
if cube%cmod==num:
  print("trimorphic")
else:
  print("not trimorphic")

enter a number5
automorphic
trimorphic

In [ ]:
#calculator program by using if elif else
print("Hi! here is you options:")
choice=input("enter '1' for addition\n""enter '2' for subtraction\n""enter '3' for multiplication\n""enter '4' for division\n")
num1=float(input("enter two numbers"))
num2=float(input())
if choice=='1':
  result=num1+num2
  print("the result is:",(result))
elif choice=='2':
  result=num1-num2
  print("result:",result)
elif choice=='3':
  result=num1*num2
  print("result:",result)
elif choice=='4':
  result=num1/num2
  print("result:",result)
else:
  print("entered invalid number")

Hi! here is you options:
enter '1' for addition
enter '2' for subtraction
enter '3' for multiplication
enter '4' for division
2
enter two numbers4
2
result: 2.0

In [ ]:
#checking the right triangle
base=float(input("enter the length of the base side"))
height=float(input("enter the length of the height side"))
hypotenuse=float(input("enter the length of the hypotenuse"))
#in a right tringle,the square of the length of the hypo is equal to the sum of the squares of other side (which is base and height)
if base**2+height**2==hypotenuse**2:
  print("its a right tringle")
elif base==height==hypotenuse:
  print("its an equilateral tringle,but not a right tringle")
else:
  print("its not a right tringle")

enter the length of the base side10
enter the length of the height side10
enter the length of the hypotenuse10
its an equilateral tringle,but not a right tringle

In [ ]:
side1=float(input("enter the length of three  sides"))
side2=float(input())
side3=float(input())
#in a right tringle,the square of the length of the hypo is equal to the sum of the squares of other side (which is base and height)
if(side1**2+side2**2==side3**2) or (side1**2+side3**2==side2**2) or (side2**2+side3**2==side1**2):
  print("its a right tringle")
elif side1==side2==side3:
  print("its an equilateral tringle,but not a right tringle")
else:
  print("its not a right tringle")

enter the length of three  sides4
6
7
its not a right tringle

In [ ]:
#finding triangle
x=int(input("enter the angle of x"))
y=int(input("enter the angle of y"))
z=int(input("enter the angle of z"))
total=x+y+z
if (total==180) and (x==90 or y==90 or z==90):
  print("it is triangle")
else:
  print("it is not triangle")

enter the angle of x60
enter the angle of y60
enter the angle of z60
it is not triangle

In [ ]:
#string inbuild methods
my_string="python programming"
#len used to know the length of the string
print(len(my_string))
#upper is used for changing into upper case of whole string
print(my_string.upper())
#lower for lower case
print(my_string.lower())
#capitalize only first letter become capital
print(my_string.capitalize())

18
PYTHON PROGRAMMING
python programming
Python programming

In [ ]:
#string inbuild method
#count
s="hello,hello,hello,world!"
count=s.count("hello")
print(count)

3

In [ ]:
#string inbuild method
#replace
my_string=("hello world!")
new_string=my_string.replace("hello","hi")
print(new_string)

hi world!

In [ ]:
#string inbuild method
#split
my_string="apple,orange,banana"
fruits=my_string.split()
print(fruits)

['apple,orange,banana']

In [ ]:
#list inbuild method
#append is used to add an item in the last of the list
my_list=[1,2,3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
#list inbuild method
#extend is used to add mutiple items in the last of the list
my_list=[1,2,3]
my_list.extend([4,5,6])
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#list inbuild method
#insert-by using insert you can add item anywhere as your wish in the list
my_list=[1,2,3]
my_list.insert(0,12)
print(my_list)

[12, 1, 2, 3]

In [ ]:
#list inbuild method
#remove-remove is used to remove the item or element in the list
my_list=[1,2,3,2]
my_list.remove(2)
print(my_list)

[1, 3, 2]

In [ ]:
#list inbuild method
#pop- to remove last idex item
my_list=[1,2,3,2]
my_list.pop()
print(my_list)

[1, 2, 3]

In [ ]:
#list inbuild method
#index-used to know the position of items
my_list=[1,2,3,2]
s=my_list.index(3)
print(s)

2

In [ ]:
#list inbuild method
#count-to find repeated elements or items
my_list=[1,2,3,2,2,2]
s=my_list.count(2)
print(s)

4

In [ ]:
#list inbuild method
#sort-used to sort the list
my_list=[41,12,63,32]
my_list.sort()
print(my_list)

[12, 32, 41, 63]

In [ ]:
#list inbuild method
#reverse- used to reverse
my_list=[41,12,63,32]
my_list.reverse()
print(my_list)

[32, 63, 12, 41]

In [ ]:
#list inbuild method
#clear-to clear whole list after that it becom empty list so using append,insert,extend method can add items or elements
my_list=[41,12,63,32]
my_list.clear()
print(my_list)
my_list.extend([1,2,3,4])
print(my_list)

[]
[1, 2, 3, 4]

In [ ]:
s="python programming"
print(len(s))
print(s.upper())
print(s.lower())
print(s.capitalize())
count=s.count("o")
print(count)
print(s.count("o"))
print(s.replace("python","java"))

18
PYTHON PROGRAMMING
python programming
Python programming
2
2
java programming

In [ ]:
#list practical
my_list=[20,10,50,50,10,40,30,50,40,30]
my_list.append(50)
print(my_list)
my_list.extend([50,20,10])
print(my_list)
my_list.insert(0,10)
print(my_list)
my_list.remove(40)
print(my_list)
my_list.pop(0)
print(my_list)
print(my_list.count(50))
print(my_list.sort())
print(my_list.reverse()

[20, 10, 50, 50, 10, 40, 30, 50, 40, 30, 50]
[20, 10, 50, 50, 10, 40, 30, 50, 40, 30, 50, 50, 20, 10]
[10, 20, 10, 50, 50, 10, 40, 30, 50, 40, 30, 50, 50, 20, 10]
[10, 20, 10, 50, 50, 10, 30, 50, 40, 30, 50, 50, 20, 10]
[20, 10, 50, 50, 10, 30, 50, 40, 30, 50, 50, 20, 10]
5
None
None

In [ ]:
#removing duplicate
my_list=[10,12,11,10,10,13,14,15]
duplicate=[]
for item in my_list:
  if item not in duplicate:
    duplicate.append(item)
print(duplicate)

[10, 12, 11, 13, 14, 15]

In [ ]:
#set inbuild method
#add
my_set={1,2,3}
my_set.add(4)
print(my_set)

#update
my_set.update([4,-3])
print(my_set)

#remove
my_set={1,2,3,4,5}
#my_set.remove(6)
#print(my_set)

#discard
my_set.discard(6)
print(my_set)

#pop
my_set.pop()
print(my_set)

#clear
my_set.clear()
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, -3}
{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [ ]:
#union prbls in set
set1={1,2,3}
set2={3,4,5}

union_set=set1.union(set2)
print(union_set)

intersection_set=set1.intersection(set2)
print(intersection_set)

difference_set=set1.difference(set2)
print(difference_set)

difference_set=set2.difference(set1)
print(difference_set)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{4, 5}

In [ ]:
#another way to write set
word=set([4,6,8,9])
print(word)

{8, 9, 4, 6}

In [ ]:
#dictionary
my_dict={1:1,2:4,3:9,4:16}
print(my_dict)

#to chane the value of key
my_dict[3]=90
print(my_dict)

#to add new dict element

my_dict[5]=25
print(my_dict)

#to delete

del my_dict[3]
print(my_dict)

#to show value and key separately
k=my_dict.keys()
v=my_dict.values()
i=my_dict.items()
print(k)
print(v)
print(i)
print(type(i))

#using get
se=my_dict.get(2)
print(se)

{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 90, 4: 16}
{1: 1, 2: 4, 3: 90, 4: 16, 5: 25}
{1: 1, 2: 4, 4: 16, 5: 25}
dict_keys([1, 2, 4, 5])
dict_values([1, 4, 16, 25])
dict_items([(1, 1), (2, 4), (4, 16), (5, 25)])
<class 'dict_items'>
4

In [ ]:
#example of dictionary
my_dict={'name':'john','age':'30','city':'new york'}

#accessing values by using key
print(my_dict['name'])

#updating values

my_dict['age']=31
print(my_dict)

# adding ne key and value pair
my_dict['occupation']='engineer'
print(my_dict)

#deleting a key_value pair
del my_dict['city']
print(my_dict)

#using keys(),values(),items()
key_list=my_dict.keys()
value_list=my_dict.values()
item_list=my_dict.items()
print(key_list)
print(value_list)
print(item_list)

#using get()
value=my_dict.get('age','N/A')
print(value)
value=my_dict.get('salary','N/A')
print(value)

#using pop
removed_value=my_dict.pop('age')
print(removed_value)
print(my_dict)

#using popitem to remove last item
removed_value=my_dict.popitem()
print(removed_value)
print(my_dict)

#using clear
my_dict.clear()
print(my_dict)

#using update()
my_dict.update({'country':'USA','age':'30'})
print(my_dict)

john
{'name': 'john', 'age': 31, 'city': 'new york'}
{'name': 'john', 'age': 31, 'city': 'new york', 'occupation': 'engineer'}
{'name': 'john', 'age': 31, 'occupation': 'engineer'}
dict_keys(['name', 'age', 'occupation'])
dict_values(['john', 31, 'engineer'])
dict_items([('name', 'john'), ('age', 31), ('occupation', 'engineer')])
31
N/A
31
{'name': 'john', 'occupation': 'engineer'}
('occupation', 'engineer')
{'name': 'john'}
{}
{'country': 'USA', 'age': '30'}

 **model questins**

In [ ]:
#model quetions
#1. write welcom to pyathon
print("welcome to python")

welcome to python

In [ ]:
#2.declaring multiple variables in a single line
num1,num2,num3=10,20,30
print(num1)
print(num2)
print(num3)

10
20
30

In [ ]:
#3.legal and illegal variable
#legal
num1=10
print(num)
#illegal
10=num1
print(num1)

SyntaxError: ignored

In [ ]:
#4.combine two variable
vari1="python"
vari2=" programming"
combine=vari1+vari2
print(combine)

python programming

In [ ]:
#5.get a data type of an object
num1=10
print(type(num1))

<class 'int'>

In [ ]:
#6.multiline strings
my_string="""My Name Akshaya
I'm from kdr,
good mrng frnds"""
print(my_string)

My Name Akshaya
I'm from kdr,
good mrng frnds

In [ ]:
#7.converting one data type into another one
num1=10
num=str(num1)
print(type(num))

#or

num_str="333"
converted_num=int(num_str)
print(type(converted_num))

<class 'str'>
<class 'int'>

In [ ]:
#8.input a string
my_string=input("enter your name:")
print("hi",my_string)

enter your nameakshaya
hi akshaya

In [ ]:
#9."communication"
my_string="communication"
print(my_string[0])
print(my_string[1])
print(my_string[-1])
print(my_string[-4])
print(my_string[2:12:3])
print(my_string[3:9:2])
print(my_string[::3])
print(my_string[::2])
print(my_string[::-2])
print(my_string[::-1])

c
o
n
t
mnao
mnc
cmitn
cmuiain
niaiumc
noitacinummoc

In [ ]:
#10.random number
import random
random_number = random.randint(1,30)
print(random_number)

15

In [ ]:
#11.Use isalnum method:
my_string ="aksh123"
isalnum=my_string.isalnum()
print(isalnum)
#only numbers and leters allowed

True

In [ ]:
#12.convert a string to lowercase
my_string="HI FRIENDS"
lower=my_string.lower()
print(lower)

hi friends

In [ ]:
#13 use capitalize method
my_string="hi friends"
cap=my_string.capitalize()
print(cap)

Hi friends

In [ ]:
#14.to remove white spaces
my_string ="   python programming   "
space =my_string.lstrip()
print(space)
print(my_string)

python programming
   python programming

In [ ]:
#15Use endswith Method
my_string="Hello World"
print(my_string.endswith("World"))
print(my_string.endswith("hello"))

True
False

In [ ]:
#16.Check if a Character or Phrase is Present in a String
my_string= "Hello,world"
search_term = "world"
print(search_term in my_string)
#or
my_string= "Hello,world"
print("world" in my_string)

True
True

In [ ]:
#17.Find the Length of a String
my_string="python"
print(len(my_string))

6

In [ ]:
#18. Split Strings into Substrings
my_string="apple,orange,banana,cherry"
print(my_string.split())

['apple,orange,banana,cherry']

In [ ]:
#19.Use casefold Method
my_string ="Hello World"
print(my_string.casefold())

hello world

In [ ]:
#20.Replace a String with Another
my_string="welcome to python"
print(my_string.replace("python","java"))

welcome to java

In [ ]:
#21.Get characters from index 2 to 4
my_string="welcome to python"
print(my_string[2:5])

lco

In [ ]:
#22.Return the string without any whitespace at the beginning or end:
my_string=" welcome to python "
print(my_string.strip())

welcome to python

In [ ]:
#23.type of variable
num1=123
print(type(num1))

<class 'int'>

In [ ]:
#24
men_stepped_on_the_moon=12
answer_1=men_stepped_on_the_moon
print(answer_1)

12

In [ ]:
#25 and 26
my_string="It's always darkest before dawn."
print(my_string)
print(my_string.replace(".","!"))

It's always darkest before dawn.
It's always darkest before dawn!

In [ ]:
#27,28
str1="EVERY Strike Brings Me Closer to the Next Home run."
print(str1.lower())

every strike brings me closer to the next home run.

In [ ]:
#29
str1="there are no traffic JamS Along with The extra"
print(str1.capitalize())

There are no traffic jams along with the extra

In [ ]:
#30
v_1="1"
v_2=1
print(type(v_1), type(v_2))

<class 'str'> <class 'int'>

In [ ]:
#31
str1="1.975.000"
print(len(str1))

9

In [ ]:
#32Check whether a character is a numeric character or not:
char="123"
print(char.isnumeric())

True

In [ ]:
#33.Perform comparison operations
X = 5
Y = 6
print(X+Y)
print(X*Y)
print(X//Y)
print(X**Y)

11
30
0
15625

In [ ]:
#34.Use not in operator:
my_string="apple","orange","mango"
str2="grapes" not in my_string
print(str2)

True

In [ ]:
#35.Use is operator: the values are equal
num1=5
num2=5
op=num1 is num2
print(op)

True

In [ ]:
#36.Use is not operator:
num1=5
num2=10
op=num1 is not num2
print(op)

True

In [ ]:
#37.solving equations:
X=10
Y=3
print(X + Y)
print(X)
print(X * Y)
print(X // Y)
print(X ** Y)

13
10
30
3
1000

In [ ]:
#38.while loos 1-500
num=1
while num<=500:
  print(num)
  num+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [ ]:
#39.Use if, elif, and else statement:
number=int(input("enter a number"))
if number>0:
    print("Positive")
elif number==0:
    print("Zero")
else:
    print("Negative")

enter a number5
Positive

In [ ]:
#40.Use continue statement in while loop:
count=0
while count< 10:
    count+=1
    if count==5:
        continue
    print(count)

1
2
3
4
6
7
8
9
10

In [ ]:
#41.Use break statement in while loop:
count=0
while count<10:
    count+=1
    if count==5:
        break
    print(count)

1
2
3
4

In [ ]:
#42.Create a list
items=['apple','banana','cherry','grapes''kiwi', 'tomato','mango','orange','banana',True,False, 10, 20, 10.5]
print(items[0])
print(items[5])
print(items[-1])
print(items[-2])
print(items[3:10])
print(items[2:11])
print(items[::9])
print(items[4::])
print(items[2:10:2])
print(items[1:11:3])
print(items[::3])
print(items[::-2])
print(items[::-1])

apple
mango
10.5
20
['grapeskiwi', 'tomato', 'mango', 'orange', 'banana', True, False]
['cherry', 'grapeskiwi', 'tomato', 'mango', 'orange', 'banana', True, False, 10]
['apple', False]
['tomato', 'mango', 'orange', 'banana', True, False, 10, 20, 10.5]
['cherry', 'tomato', 'orange', True]
['banana', 'tomato', 'banana', 10]
['apple', 'grapeskiwi', 'orange', False, 10.5]
[10.5, 10, True, 'orange', 'tomato', 'cherry', 'apple']
[10.5, 20, 10, False, True, 'banana', 'orange', 'mango', 'tomato', 'grapeskiwi', 'cherry', 'banana', 'apple']

In [ ]:
#43.Create a new list:
my_list=[1,2,3,4,5]
new_list=[]
for i in my_list:
  new_list.append(i)
print(new_list)
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#44.Retrieve the first item from a list:
my_list=[1,2,3,4,5]
print(my_list[0])

1

In [ ]:
#45 length of list
my_list=[1,2,3,4,5]
length = 0
for i in my_list:
    length += 1
print("Length of the list:", length)

Length of the list: 5

In [ ]:
#46write a python program to change the first item in a list
my_list=[1,2,3,4,5]
my_list[0]=11
print(my_list)

[11, 2, 3, 4, 5]

In [ ]:
#47 write a python program using negative indexing
my_list=[1,2,3,4,5]
print(my_list[-1])

5

In [ ]:
#48 write a program to add a new item to the end of a list
my_list=[1,2,3,4,5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
#49 create a list and display the list in reverse order
my_list=[1,2,3,4,5]
my_list.reverse()
print("Reversed list:",my_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
#50 write a program to find the maximum value in a list
my_list=[10,80,30,20,50]
max_value=my_list[0]
for num in my_list:
    if num > max_value:
        max_value = num
print("Maximum value in the list:", max_value)

Maximum value in the list: 80

In [ ]:
#51 write a program to display the index of an element in a list
my_list=[4,8,2,10,5]
element_to_find=int(input("enter a number"))
element_index=0
for i in range(len(my_list)):
    if my_list[i]==element_to_find:
        element_index=i
        break
print(element_index)

enter a number10
3

In [ ]:
#52.write a program to count the occurrence of an Element in a list
my_list=[5,8,2,10,5,5,10,8]
element_to_count=int(input("enter a number you want to count the occurence"))
element_count = 0
for num in my_list:
    if num == element_to_count:
        element_count += 1
print(f"The count of {element_to_count} in the list is: {element_count}")

enter a number you want to count the occurence5
The count of 5 in the list is: 3

In [ ]:
#53.create a nested list and display each item from the list
my_list = [[1, 2, 3], ['a', 'b', 'c'], ['apple', 'orange', 'banana']]
for outer_item in my_list:
    for inner_item in outer_item:
        print(inner_item)

1
2
3
a
b
c
apple
orange
banana

In [ ]:
#54.Based on a list of fruits, create a new list, containing only the fruits with the letter "a" in the name.
fruits=["apple", "banana", "cherry", "kiwi", "mango"]
a_letter=[]
for i in fruits:
    if 'a' in i:
        a_letter.append(i)
print("Fruits with the letter 'a':",a_letter)

Fruits with the letter 'a': ['apple', 'banana', 'mango']

In [ ]:
#55.list
fruits=["apple","banana","cherry","kiwi","mango"]
exculde_kiwi=[]
for i in fruits:
    if i !="kiwi":
        exculde_kiwi.append(i)
print("Fruits without 'kiwi':", exculde_kiwi)

Fruits without 'kiwi': ['apple', 'banana', 'cherry', 'mango']

In [ ]:
#56. create a new list, Set the values in the new list to upper case.
fruits=["apple","banana","cherry","kiwi","mango"]
fruits_uppercase=[]
for i in fruits:
    fruits_uppercase.append(i.upper())
print("Fruits in uppercase:", fruits_uppercase)

Fruits in uppercase: ['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [ ]:
#57.create a list and iterate over the list
my_list=[1, 2, 3, 4, 5]
for i in my_list:
    print(i)

1
2
3
4
5

In [ ]:
#58 write a program using for loop with a break statement
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i)
    if i==5:
        break

1
2
3
4
5

In [ ]:
#59.write a program using for loop with a continue statement
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i)
    if i==5:
      continue

1
2
3
4
5
6
7
8
9
10

In [ ]:
#60.write a program using range function with starting parameter and increment parameter
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [ ]:
#61.write a program to create a tuple
my_tuple = ('apple','banana',1,10.5)
print(my_tuple)

('apple', 'banana', 1, 10.5)

In [ ]:
#62.length of tuple
my_tuple = ('apple','banana',1,10.5)
tuple_length = 0
for i in my_tuple:
    tuple_length += 1
print("Length of the tuple:", tuple_length)

Length of the tuple: 4

In [ ]:
#63.write a program to return the data type of a tuple
my_tuple = ('apple','banana',1,10.5)
print(type(my_tuple))

<class 'tuple'>

In [ ]:
#64.create a tuple with items kiwi, orange, grapes, apple,
my_fruit_tuple=('kiwi','orange','grapes','apple')
print(my_fruit_tuple)

('kiwi', 'orange', 'grapes', 'apple')

In [ ]:
#65 adding melon
my_fruit_tuple=('kiwi','orange','grapes','apple')
fruit_list=list(my_fruit_tuple)
fruit_list.insert(0,'melon')
fruit_tuple=tuple(fruit_list)
print(fruit_tuple)

('melon', 'kiwi', 'orange', 'grapes', 'apple')

In [ ]:
#66.write a program to append an item to the tuple
my_fruit_tuple=('kiwi','orange','grapes','apple')
new_item=('melon',)
fruit_tuple=my_fruit_tuple+new_item
print(fruit_tuple)

('kiwi', 'orange', 'grapes', 'apple', 'melon')

In [ ]:
#67.write a program to remove an item from a tuple ******doubt
my_fruit_tuple=('kiwi','orange','grapes','apple')
item_to_remove='grapes'
new_tuple=()
for item in my_fruit_tuple:
   if item != item_to_remove:
    new_tuple+=(item,)
print(new_tuple)

('kiwi', 'orange', 'apple')

In [ ]:
#68.write a program to concatenate two tuples
tuple1=(1,2,3)
tuple2 =(6,7,8)
concatenated_tuple=tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 6, 7, 8)

In [ ]:
#69.write a program to extract the values from a tuple into variables
my_tuple = (10,20,30)
value1, value2, value3=my_tuple
print("Value 1:", value1)
print("Value 2:", value2)
print("Value 3:", value3)

Value 1: 10
Value 2: 20
Value 3: 30

In [ ]:
#70.extract values from tuple using Asteri
my_tuple=('apple','orange','kiwi','banana')
value1,value2,*value3 = my_tuple
print("Value 1:", value1)
print("Value 2:", value2)
print("Rest of the values:",value3)

Value 1: apple
Value 2: orange
Rest of the values: ['kiwi', 'banana']

In [ ]:
#71.count the number of occurrences of an item in a tuple
my_tuple=(10,20,30,20,40,20,50)
item_to_count=int(input("enter a number which you want to count"))
occurrence_count=0
for item in my_tuple:
    if item==item_to_count:
        occurrence_count += 1
print(f"The number of occurrences of {item_to_count} in the tuple is: {occurrence_count}")

enter a number which you want to count20
The number of occurrences of 20 in the tuple is: 3

In [ ]:
#72.remove items from a tuple by using merge with +Character
my_tuple = ('apple','banana','cherry','kiwi','mango')
chara='a'
new_tuple=()
for item in my_tuple:
    if chara not in item:
        new_tuple+=(item,)
print(new_tuple)

('cherry', 'kiwi')

In [ ]:
#73.slice a tuple using start-stop, step parameter
my_tuple=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple=my_tuple[2:8:2]
print(sliced_tuple)

(3, 5, 7)

In [ ]:
#74.slice a tuple with step parameter is negative
my_tuple=(1,2,3,4,5)
reversed_tuple=my_tuple[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [ ]:
#75.returns a tuple with a jump every 3 times
my_tuple=(1,2,3,4,5,6)
jumped_tuple=my_tuple[::3]
print(jumped_tuple)

(1, 4)

In [ ]:
#76.find the maximum value in a tuple
my_tuple=(15,7,23,45,10,56,78,32)
max_value=my_tuple[0]
for value in my_tuple:
    if value > max_value:
        max_value=value
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 78

In [ ]:
#77.Find min value in a tuple
my_tuple=(15,7,23,45,10,6,78,32)
min_value=my_tuple[0]
for value in my_tuple:
    if value < min_value:
        min_value=value
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 6

In [ ]:
#78.find the sum of items in a tuple
my_tuple=(15,7,23,45,10,6,78,32)
sum_of_items=0
for value in my_tuple:
    sum_of_items+=value
print("The sum of items in the tuple is:", sum_of_items)

The sum of items in the tuple is: 216

In [ ]:
#79.write a program to find the index of an item
my_tuple=(15,7,23,45,10,6,78,32)
item_to_find=int(input("enter the number you want to find the poisition"))
index=None
for i in range(len(my_tuple)):
    if my_tuple[i]==item_to_find:
        index=i
        break
if index is not None:
    print("The index of item:",index)
else:
    print("item not found")

enter the number you want to find the poisition45
The index of item: 3

In [ ]:
#80.write a program to find the length of a set
my_set={10,20,30,40,50,60}
set_length=0
for i in my_set:
    set_length+=1
print("The length of the set is:", set_length)

The length of the set is: 6

In [ ]:
#81.write a program to create a set
my_set=set()
my_set.add(50)
my_set.add(100)
my_set.add(150)
print("The created set is:", my_set)

The created set is: {50, 100, 150}

In [ ]:
#82.write a program to remove an item from the set using the remove method
my_set={10,20,30,40,50}
item_to_remove=int(input("enter the number you want to remove"))
my_set.remove(item_to_remove)
print("Updated Set:", my_set)

enter the number you want to remove30
Updated Set: {50, 20, 40, 10}

In [ ]:
#83.write a program to add items from one set to another
set1={1,2,3}
set2={3,4,5}
set1.update(set2)
print("Updated Set1:", set1)

Updated Set1: {1, 2, 3, 4, 5}

In [ ]:
#84.write a program to join two sets
set1={1,2,3}
set2={3,4,5}
joined_set=set1.union(set2)
print("Joined Set:", joined_set)

Joined Set: {1, 2, 3, 4, 5}

In [ ]:
#85.write a program to remove an item from the set using the discard method
my_set={10,20,30,40,50}
item_to_remove=int(input("enter the number you want to remove"))
my_set.discard(item_to_remove)
print("Updated Set:", my_set)

enter the number you want to remove30
Updated Set: {50, 20, 40, 10}

In [ ]:
#86. write a program to add an item to a set
my_set={10,20,30,40,50}
item_to_add=int(input("enter the number you want to add"))
my_set.add(item_to_add)
print("Updated Set:", my_set)

enter the number you want to add60
Updated Set: {50, 20, 40, 10, 60, 30}

In [ ]:
#87.write a program using the symmetric difference metho
set1={1,2,3,4,5}
set2={4,5,6,7,8}
symmetric_diff_set=set1.symmetric_difference(set2)
print("Symmetric Difference Set:", symmetric_diff_set)

Symmetric Difference Set: {1, 2, 3, 6, 7, 8}

In [ ]:
#88. write a program using the intersection update method
set1={1,2,3,4,5}
set2={4,5,6,7,8}
intersection_set=set1.intersection(set2)
print("Intersection Set:", intersection_set)

Intersection Set: {4, 5}

In [ ]:
#89.Write a Python script to add a key to a dictionary


new_key='occupation'
new_value='Engineer'
my_dict[new_key]=new_value
print("Updated Dictionary:", my_dict)

Updated Dictionary: {'name': 'John', 'age': 25, 'city': 'New York', 'occupation': 'Engineer'}

In [ ]:
#90.Write a Python script to check whether a given key already exists in a dictionary
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
check_key='age'
if check_key in my_dict:
    print(check_key,"exists in the dictionary.")
else:
    print(check_key," does not exist in the dictionary")

age exists in the dictionary.

In [ ]:
#91.Write a Python program to get the key, value, and item in a dictionary.
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
for key, value in my_dict.items():
    print(f"Key: {key}   Value: {value}")

Key: name   Value: John
Key: age   Value: 25
Key: city   Value: New York

In [ ]:
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
all_items = my_dict.items()
print("All Items:", all_items)

All Items: dict_items([('name', 'John'), ('age', 25), ('city', 'New York')])

In [ ]:
#92.print the value of the "model" key of the car dictionary using the get method car
car={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
model_value=car.get("model")
print("The value of the 'model' key is:", model_value)

The value of the 'model' key is: Mustang

In [ ]:
#93.Change the "year" value from 1964 to 2020. in the above dictionary
car={
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["year"]=2020
print("Updated Dictionary:", car)

Updated Dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#94.Write a Python program to remove a key from a dictionary.
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
removed_value=my_dict.popitem()
print(removed_value)
print(my_dict)

('city', 'New York')
{'name': 'John', 'age': 25}

In [ ]:
#95.create a dictionary using the dict constructor
dict2=dict([('name', 'Alice'), ('age', 30), ('city', 'London')])
print("Another Dictionary:",dict2)

Another Dictionary: {'name': 'Alice', 'age': 30, 'city': 'London'}

In [ ]:
#96.write a program with a dictionary update method
original_dict={'name': 'John', 'age': 25, 'city': 'New York'}
update_dict={'age': 26, 'occupation': 'Engineer', 'country': 'USA'}
original_dict.update(update_dict)
print("Updated Dictionary:", original_dict)

Updated Dictionary: {'name': 'John', 'age': 26, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA'}

In [ ]:
#97.write a program to remove the last inserted item from a dictionary
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
print("Original Dictionary:", my_dict)
removed_item=my_dict.popitem()
print("Updated Dictionary:", my_dict)
print("Removed Item:", removed_item)

Original Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
Updated Dictionary: {'name': 'John', 'age': 25}
Removed Item: ('city', 'New York')

In [ ]:
#98. write a program to empty a dictionary
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
print("Original Dictionary:", my_dict)
my_dict.clear()
print("Updated (Empty) Dictionary:", my_dict)

Original Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
Updated (Empty) Dictionary: {}

In [ ]:
#99.write a program to copy a dictionary
original_dict={'name': 'John', 'age': 25, 'city': 'New York'}
copied_dict=original_dict.copy()
print("Original Dictionary:", original_dict)
print("Copied Dictionary:", copied_dict)

Original Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
Copied Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#100.create and call a function
def fact():
  num=5
  factorial=1
  for i in range(1,num+1):
    factorial=factorial*i
  print(factorial)
fact()

120

In [ ]:
#write python prgm to reverse a string
my_string="python"
#print(my_string[::-1])
reverse=""
for item in my_string:
  reverse=item+reverse
print(reverse)

nohtyp

In [ ]:
#palindrome
my_string=input("enter a word:")
pali=my_string==my_string[::-1]
print(pali)

enter a word:mom
True

In [ ]:
#count the number of words in sentence
my_string=input("enter a setence:").split()
#print(len(my_string))

enter a setence:hi friend
2

**fuction**

In [ ]:
#fuctions
#another way to find factorial by using for loop
def fact():
  num=5
  factorial=1
  for i in range(1,num+1):
    factorial=factorial*i
  print(factorial)
fact()

120

In [ ]:
#return
def sum(a,b):
  c=a+b
  return c
sum(5,2)

7

In [ ]:
#return
def sum(a=5,b=2):
  c=a+b
  return c
sum()

7

5 type of parameter passing

In [ ]:
#1.default parameter passing
def sum(a,b):
  c=a+b
  return c
sum(122,345)

467

In [ ]:
#2.keyword parameter passing
def sum(a=123,b=78):
  c=a+b
  return c
sum()

201

In [ ]:
#3.arbitary arguments parameter passing
def sum(*a):
  print(a)
  sum(2,9,7,5,9,6)

(2, 9, 7, 5, 9, 6)

In [ ]:
#4.reference parameter passing
def sum(a):
  print(a)
r=10 #this is reference parameter passing
sum(r)

10

In [ ]:
#5.keyword arbitrary arugument
def word(**x):
  print(x)
word(name="akshaya",age=25)

{'name': 'akshaya', 'age': 25}

**fuction retaed problems**

In [ ]:
#1.arbitoryarg.py
def add(*n):
	s=0
	for x in n:
		s=s+x
	return s

p=add(10,20,30)
print("Sum is ",p)
q=add(10,20,30,40,50)
print("Sum is ",q)
r=add(25.5,36.6,42.7,52.8)
print("Sum is ",r)

Sum is  60
Sum is  150
Sum is  157.60000000000002

In [ ]:
#2.auto_trimorphic.py

num=int(input("Enter the number : "))
print("Menu:\n","1.Automorphic\n","2.Trimorphic\n")
choice=int(input("Enter your choice : "))
l=len(str(num))
if choice==1:
	sq=num**2
	if sq%(10**l)==num:
		print(num," is automorphic")
	else:
		print(num," is not automorphic")
elif choice==2:
	cb=num**3
	if cb%(10**l)==num:
		print(num," is trimorphic")
	else:
		print(num," is not trimorphic")
else:
	print("Invalid choice!!!")

Enter the number : 5
Menu:
 1.Automorphic
 2.Trimorphic

Enter your choice : 1
5  is automorphic

In [ ]:
#3.big3elif.py

a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=int(input("enter the third number"))
if a>b and a>c:
	big=a
elif b>a and b>c:
	big=b
else:
	big=c
print("Biggest is ",big)

enter the first number2
enter the second number3
enter the third number4
Biggest is  4

In [ ]:
#4.bigifelse.py

a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
if a>b:
	big=a
else:
	big=b
print("Biggest is : ",big)

Enter the first number5
Enter the second number6
Biggest is :  6

In [ ]:
#5.biglist.py

a=[]
n=int(input("Enter the limit array :"))
print("Enter the elements : ")
for i in range(0,n):
	no=int(input(i))
	a.append(no)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
if big==a[0]:
	sbig=a[1]
else:
	sbig=a[0]
for i in range(0,n):
	if a[i]<big and a[i]>sbig:
		sbig=a[i]
print("Second largest is : ",sbig)
print(big)

Enter the limit array :5
Enter the elements :
078
132
2785
3100
4145
Second largest is :  145
785

In [ ]:
8
1#6.bignestedif.py

a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=int(input("Enter the third number"))
if a>b:
	if a>c:
		big=a
	else:
		big=c
else:
	if b>c:
		big=b
	else:
		big=c
print("Biggest is : ",big)

Enter the first number5
Enter the second number10
Enter the third number15
Biggest is :  15

In [ ]:
#7.bigsimif.py

a=int(input("Enter a number"))
b=int(input("Enter a number"))
big=a
if a<b:
	big=b
print("Biggest is : ",big)

Enter a number5
Enter a number10
Biggest is :  10

In [ ]:
#8.block_selection.py

required_amenities=[]
block_details=[{"School":True,"Gym":False,"Pool":False,"Hospital":True,"Store":False},]
amenities={"School":False,"Gym":False,"Pool":False,"Hospital":False,"Store":False}
print("Enter your requirements :(1-required/0-not required)")
for x in amenities.keys():
	k=int(input(x))
	if k==1:
		required_amenities.append(x)
print(required_amenities)

Enter your requirements :(1-required/0-not required)

In [ ]:
#9.calculatorelif.py

print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division ")
print("5. Exponet")
choice=int(input("Enter your choice of operation :"))
a=int(input("Enter a number"))
b=int(input("Enter a number"))
if choice==1:
	res=a+b
elif choice==2:
	res=a-b
elif choice==3:
	res=a*b
elif choice==4:
	res=a/b
elif choice==5:
	res=a**b
else:
	print("Invalid choice!!!")
print("The result is ",res)

1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exponet

In [ ]:
#10.circularrightshift.py

a=[]
n=int(input("Enter no of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	elmnt=int(input())
	a.append(elmnt)
print(a)
b=[a[n-1]]+a[:n-1]
a=b
print(a)

In [ ]:
#11.contactbook.py

print("1.Add a contact ")
print("2.Delete a contact")
print("3.Edit a contact ")
print("4.Search a contact")
print("5.List all contacts")
print("6.Exit")
contactbook={}
choice=int(input("Enter your choice "))
while choice!=6:
	if choice==1:
		name=input("Enter the name : ")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("1 contact added successfully")
	elif choice==2:
		name=input("enter the name of contact to delete :")
		contactbook.pop(name)
		print("1 contact deleted succefully")
	elif choice==3:
		name=input("enter the name of contact to edit :")
		phno=int(input("Enter the phone number : "))
		contactbook[name]=phno
		print("contact edited successfully")
	elif choice==4:
		name=input("enter the name :")
		print("Phone Number of ",name," : ",contactbook[name])
	elif choice==5:
		print("Name\t\t Phone Number")
		for x,y in contactbook.items():
			print(x,"\t\t",y)
	else:
		print("Invalid choice !!!")
	choice=int(input("Enter your choice "))

1.Add a contact
2.Delete a contact
3.Edit a contact
4.Search a contact
5.List all contacts
6.Exit
1 contact added successfully

In [ ]:
#12.defaultarg.py

def simple_interest(p,n,r=0.25):
	i=p*r*n
	return i
i1=simple_interest(5000,6,0.3)
print("Interest ",i1)
i2=simple_interest(5000,6)
print("Interest ",i2)

Interest  9000.0
Interest  7500.0

In [ ]:
#13.dicfunctions.py

bus={
	"Routeno":5,
	"Driver":"kiran",
	"Cleaner":"Manu",
	"points":["karamana","PMG","pattom"]
}

print(bus["Driver"])
print(bus.get("Driver"))
bus.keys()
bus.values()
bus.items()
bus["color"]="Red"
bus.update({"fare":1500})
bus["Driver"]="Mohan"
bus.pop("fare")
bus.popitem()
bus.clear()

for x in bus:
	print(x)
for x in bus:
	print(bus[x])

kiran
kiran

In [ ]:
#14.dictionary.py
student = {"name": "Kiran", "age": 25, "mark1": 76, "mark2": 85}
print(student.get("name"))
print(student.keys())
print(student.values())
print(student.items())
student["name"] = "Manu"
student["phone"] = 958744123
student.update({"name": "Mohan"})
student.update({"Address": "Kottayam"})
student.pop("name")
student.clear()
candidate = student.copy()
print(student)

Kiran
dict_keys(['name', 'age', 'mark1', 'mark2'])
dict_values(['Kiran', 25, 76, 85])
dict_items([('name', 'Kiran'), ('age', 25), ('mark1', 76), ('mark2', 85)])
{}

In [ ]:
#15.dictionarydemo.py

contactlist={}
n=int(input("Enter the number of contacts : "))
for i in range(1,n+1):
	name=input("Enter the contact name :")
	phno=int(input("Enter the phone number :"))
	contactlist[name]=phno
print("Keys")
for x in contactlist.keys():
	print(x)
print("Values")
for x in contactlist.values():
	print(x)
print("Keys-value pairs")
for x,y in contactlist.items():
	print(x,"-",y)

Enter the number of contacts : 1
Enter the contact name :assk
Enter the phone number :2655455
Keys
assk
Values
2655455
Keys-value pairs
assk - 2655455

In [ ]:
#16.dictnumber.py

numberNames={0:'Zero',1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six',7:'Seven',8:'Eight',9:'Nine'}
positionvalues={0:'Ones',1:'Tens',2:'Humdreds',3:'Thousands',4:'Ten Thousands',5:'Lakhs',6:'Ten Lakhs',7:'Crore',8:'Ten Crores',9:'Hundred Crores'}
num=input("Enter any number")
result=''
l=len(num)-1
for ch in num:
	key=int(ch)
	value=numberNames[key]
	result=result + ' ' + value+' '+ positionvalues[l]
	l-=1
print("The number is : ",num)
print("The number Name is :",result)

Enter any number123
The number is :  123
The number Name is :  One Humdreds Two Tens Three Ones

In [ ]:
#17.digitsumfun.py

def  digitsum(n):
	if n==0:
		return 0
	d=n%10
	s=d+digitsum(n//10)
	return s
no=int(input("Enter the number : "))
sum=digitsum(no)
print("sum of digits : ",sum)

Enter the number : 20
sum of digits :  2

In [ ]:
#18.divisiblesimpif.py

m=int(input("Enter a number : "))
n=int(input("Enter a number : "))
result="not divisible"
if(m%n==0):
	result="divisible"
print(m," is ",result," by ",n)

In [ ]:
#19.ebillelif.py

u=int(input("Enter the number of units consumed : "))
if u<=100:
	amount=u*0.5
elif u>100 and u<=150:
	amount=(100*0.5)+(u-100)*0.75
elif u>150 and u<=200:
	amount=(100*0.5)+(50*0.75)+(u-150)*1
else:
	amount=(100*0.5)+(50*0.75)+(50*1)+(u-200)*2
print("Amount to be paid : ",amount)

Enter the number of units consumed : 123
Amount to be paid :  67.25

In [ ]:
#20.electrictybill_type.py

type=input("Enter the type of connection : ")
u=int(input("Enter the units consumed : "))
charge=0
if type=="domestic":
	if u<=100:
		charge=u*1
	elif u<150:
		charge=(100*1)+(u-100)*1.5
	elif u<=200:
		charge=(100*1)+(50*1.5)+(u-150)*2
	else:
		charge=(100*1)+(50*1.5)+(50*2)+(u-200)*3
elif type=="commercial":
	if u<=100:
		charge=u*3
	elif u<150:
		charge=(100*3)+(u-100)*4
	elif u<=200:
		charge=(100*3)+(50*4)+(u-150)*6
	else:
		charge=(100*3)+(50*4)+(50*6)+(u-200)*10
else:
	print("Invalid connection type ")
print("Tarriff	: ",charge)

Enter the type of connection : 1233
Enter the units consumed : 120
Invalid connection type
Tarriff	:  0

In [ ]:
#21 factorialsum.py

def sum(n):
	if n==1:
		return 1
	s=n+sum(n-1)
	return s
no=int(input("Enter the number : "))
total=sum(no)
print("Sum  is : ",total)

Enter the number : 5
Sum  is :  15

In [ ]:
#22 fun_arbitoryarg.py

def my_function(*students):
	print(type(students))
	for x in students:
		print(x)

my_function("Kiran", "Manu", "Vinu")
my_function(10,20,30,40,50)

<class 'tuple'>
Kiran
Manu
Vinu
<class 'tuple'>
10
20
30
40
50

In [ ]:
#23 fun_arbitoryarg1.py

def my_function(*formal):
	print(type(formal))
	s=0
	for x in formal:
		s=s+x
	print("Sum is ",s)
my_function(10,20)
my_function(10,20,30,40,50)
my_function(10.2,15.5,26.3)

<class 'tuple'>
Sum is  30
<class 'tuple'>
Sum is  150
<class 'tuple'>
Sum is  52.0

In [ ]:
#24functionarguments.py

def sum(*no):
	print(type(no))
	s=0
	for x in no:
		s=s+x
	return s
def add(p):
	print(p*6)
def avg(s):
	print(s/5)
sm=sum(10,20,30,40)
add(sm)
sm=sum(25,36,45,78,52)
avg(sm)

<class 'tuple'>
600
<class 'tuple'>
47.2

In [ ]:
#25 functioninterestdefault.py

def simple_interest(p,t,r=5):
	i=p*r*t/100
	return i
principle_amount=int(input("Enter the principle amount : "))
time_period=int(input("Enter the time duration : "))
rate_of_interest=int(input("Enter the rate of interest : "))
i1=simple_interest(principle_amount,time_period)
print("Interest : ",i1)
i2=simple_interest(principle_amount,time_period,rate_of_interest)
print("Interest : ",i2)

Enter the principle amount : 20
Enter the time duration : 100
Enter the rate of interest : 12
Interest :  100.0
Interest :  240.0

In [ ]:
#26.functionlist.py

def sum(no):
	print(type(no))
	s=0
	for x in no:
		s=s+x
	return s
a=[10,20,30,40]
print(sum(a))
b=(25,36,49,64)
print(sum(b))
c={25,50,75}
print(sum(c))

In [ ]:
#1.Temperature Converter:
def celsius_to_fahrenheit(celsius):
    fahrenheit=(celsius*9/5)+32
    print(celsius,"celsius covertered into fahrenheit",fahrenheit)

def fahrenheit_to_celsius(fahrenheit):
    celsius=(fahrenheit - 32) * 5/9
    print(fahrenheit,"celsius covertered into celsius",celsius)
celsius_to_fahrenheit(50)
fahrenheit_to_celsius(69)

50 celsius covertered into fahrenheit 122.0
69 celsius covertered into celsius 20.555555555555557

In [ ]:
#2.Palindrome
def palindrome(my_string):
  my_string=input("enter a word:")
  word=my_string==my_string[::-1]
  print(word)
palindrome(list)

enter a word:amma
True

In [ ]:
#3.List Manipulation:

In [ ]:
#4.
def find_max_element(lst):
    return max(lst)

def calculate_sum(lst):
    return sum(lst)

def remove_duplicates(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

print(find_max_element(my_list))
print(calculate_sum(my_list))
print(remove_duplicates(my_list))

9
44
[3, 1, 4, 5, 9, 2, 6]

In [ ]:
#counting
def Count(my_list):
    m_list = {}
    for element in my_list:
      if element in m_list:
        m_list[element] += 1
      else:
        m_list[element] = 1
    for key,value in m_list.items():
      print(f'Word {key} and Occurance {value}')
my_list = input("Enter the sentence: ").split()
Count(my_list)

Enter the sentence: my world
Word my and Occurance 1
Word world and Occurance 1

In [ ]:
#contactbook using function
contact={}
def add():
    name=input("enter your name")
    phn=int(input("enter your number"))
    contact[name]=phn
def search():
    search_name=input("enter the name you want to search")
    if search_name in contact:
        print(f"{search_name}contact number is:{contact[search_name]}")
    else:
        print("invalid name")
def update():
    update_contact=input("enter the name you want to edit")
    if update_contact in contact:
        update_number = int(input("enter the number you want to edit"))
        contact[update_contact]=update_number
        print("contact is updated")
    else:
        print("invalid contact")
def display():
    print("NAME\t\t\tCONTACT NUMBER")
    for i in contact:
        print("{}\t\t\t{}".format(i,contact.get(i)))
def delete():
    del_contact=input("enter the name you want to delete")
    if del_contact in contact:
        contact.pop(del_contact)
    else:
        print("name not found")
while True:
    print("here is the details nof contact book:\n1.for adding contact\n2.for search contact\n3.for update contact\n4.for display contact\n5.for delete contact\n6.for exit from contact")
    choice=int(input("enter your choice"))
    if choice==1:
        add()
    elif choice==2:
        search()
    elif choice==3:
        update()
    elif choice==4:
        display()
    elif choice==5:
        delete()
    else:
        break

here is the details nof contact book:
1.for adding contact
2.for search contact
3.for update contact
4.for display contact
5.for delete contact
6.for exit from contact

#python extra imp questions part 2

In [ ]:
#mark of students
m1=int(input("Enter the marks for physics"))
m2=int(input("Enter the marks for chemistry"))
m3=int(input("Enter the marks for maths"))
p=(m1+m2+m3)*100/300
if p>=90:
	grade="A+"
elif p<90 and p>=80:
	grade="A"
elif p<80 and p>=70:
	grade="B+"
elif p<70 and p>=60:
	grade="B"
elif p<60 and p>=50:
	grade="C"
else:
	grade="Failed"
print("His grade is ",grade)

Enter the marks for physics90
Enter the marks for chemistry90
Enter the marks for maths90
His grade is  A+

In [ ]:
#3interest calculation

p=int(input("Enter principle amount"))
n=int(input("Enter the duration in years"))
if n>=10:
	r=12
else:
	r=8
i=p*r*n/100
print("Interest : ",i)

Enter principle amount3000
Enter the duration in years7
Interest :  1680.0

In [ ]:
#4.function with keyword

def add(a,b,c):
	return(a+b+c)
s=add(c=20,a=25,b=36)
print("Sum is ",s)

Sum is  81

In [ ]:
#5.list.py
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 5
Enter the elements :
5
4
3
2
1
List elements are :
5
4
3
2
1

56

In [ ]:
#6.listbig
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
big=a[0]
for i in range(1,n):
	if a[i]>big:
		big=a[i]
print("Biggest : ",big)

Enter the number of elements : 2
Enter the elements :
1
2
Biggest :  2

In [ ]:
#7.listbinarysearch

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements in ascending order : ")
for i in range(0,n):
	k=int(input(i))
	a.append(k)
key=int(input("Enter the element to search : "))
l=0
u=n-1
while l<=u:
	mid=(l+u)//2
	if a[mid]==key:
		print(key,"found at index ",mid)
		break
	elif a[mid]>key:
		u=mid-1
	else:
		l=mid+1
else:
	print(key,"not in the list ")

Enter the number of elements : 3
Enter the elements in ascending order :
01
12
23
Enter the element to search : 2
2 found at index  1

In [ ]:
#8.listcompr

a=[10,20,30,40]
b=[10,20,30,50]
if a==b:
	print("ok")
else:
	print("not ok")

not ok

In [ ]:
#9.listcount
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
count=0
ele=int(input("Enter the element to count : "))
for x in a:
	if x==ele:
		count+=1
print(ele," occured ",count," times")

Enter the number of elements : 4
Enter the elements :
1
5
4
5
Enter the element to count : 5
5  occured  2  times

In [ ]:
#10.listdelete
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
for i in range(index,n-1):
	a[i]=a[i+1]
n=n-1
print("List elements are : ")
for i in range(0,n):
	print(a[i])

Enter the number of elements : 4
Enter the elements :
4
5
3
2
Enter the index : 1
List elements are :
4
3
2

In [ ]:
#11.listduplicate
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
i=0
while i<n-1:
	j=i+1
	while j<n:
		if a[i]==a[j]:
			a.pop(j)
			n=n-1
		else:
			j+=1
	i+=1
print(a)

Enter the number of elements : 3
Enter the elements :
1
5
3
[1, 5, 3]

In [ ]:
#12listduplicateset.py
a=[]
n=int(input("Enter the number of elements : "))
for i in range(0,n):
	k=int(input())
	a.append(k)
b=set(a)
a=list(b)
print(a)

Enter the number of elements : 3
1
2
3
[1, 2, 3]

In [ ]:
#16.listinsert
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
a.append(0)
element=int(input("Enter the element to insert"))
index=int(input("Enter the index : "))
for i in range(n,index,-1):
	a[i]=a[i-1]
a[index]=element
print("List elements are : ")
for i in range(0,n+1):
	print(a[i])

In [ ]:
#18.listinsertlist
a=[]
n= int(input("Enter the number of elements in first list: "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
b=[]
m= int(input("Enter the number of elements in second list : "))
print("Enter the elements : ")
for i in range(0,m):
	k=int(input())
	b.append(k)
	a.append(0)
index=int(input("Enter the index : "))
for i in range(n-1,index-1,-1):
	a[i+m]=a[i]
for i in range(0,m):
	a[index+i]=b[i]
print("List elements are : ")
for i in range(0,m+n):
	print(a[i])

In [ ]:
#19.listndelete
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
index=int(input("Enter the index : "))
dn=int(input("Enter the number of elements to be deleted : "))
for i in range(index+dn,n):
	a[i-dn]=a[i]
n=n-dn
print("List elements are : ")
for i in range(0,n):
	print(a[i])

KeyboardInterrupt: ignored

In [ ]:
#20.listoddeven

a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("List elements are : ")
for i in range(0,n):
	print(a[i])
odd=[]
even=[]
for i in range(0,n):
	if a[i]%2==0:
		even.append(a[i])
	else:
		odd.append(a[i])
print("EVEN LIST")
for x in even:
	print(x)
print("ODD LIST")
for x in odd:
	print(x)

In [ ]:
#22.listprime
a=[]
n= int(input("Enter the number of elements : "))
print("Enter the elements : ")
for i in range(0,n):
	k=int(input())
	a.append(k)
print("prime numbers are : ")
for i in range(0,n):
	if a[i]==1:
		continue
	for j in range(2,a[i]):
		if a[i]%j==0:
			break
	else:
		print(a[i])

In [ ]:
#25.nesteddict
student1={"name":"arfan","place":"Manacaud","Blood Group":"O+"}

student2={"name":"Jovan","place":"Kollam","Blood Group":"O+"}

student3={"name":"Divya","place":"palayam","Blood Group":"A+"}

oneteam={"intern1":student1,"intern2":student2,"intern3":student3}

or

oneteam={"intern1":{"name":"arfan","place":"Manacaud","Blood Group":"O+"},"intern2":{"name":"Jovan","place":"Kollam","Blood Group":"O+"},"intern3":{"name":"Divya","place":"palayam","Blood Group":"A+"}}

SyntaxError: ignored

## **pdf2**

In [ ]:
#2.quadeqifelse
a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
if x>=0:
	print("Roots are real")
else:
	print("Roots are Imaginary")

In [ ]:
#3.quadeqsimif

a=int(input("Enter the coefficient of x^2 term : "))
b=int(input("Enter the coefficient of x term : "))
c=int(input("Enter the constant term : "))
x=b**2-(4*a*c)
roots="Imaginary"
if x>=0:
	roots="Real"
print("Roots are ",roots)

In [ ]:
#6.amstrong
n=input("Enter a number : ")
l=len(n)
n=int(n)
s=0
t=n
while n!=0:
	d=n%10
	s=s+d**l
	n=n//10
if t==s:
	print("Amstrong")
else:
	print("Not an amstrong")

In [ ]:
#7.b2d
b=int(input("Enter the binary number : "))
d=0
i=0
while b!=0:
	dig=b%10
	d=d+(dig*(2**i))
	i=i+1
	b=b//10
print("Decimal equalent is ",d)

In [ ]:
#8.bigdigit

n=int(input("Enter a number : "))
bd=0
while n!=0:
	d=n%10
	if d>bd:
		bd=d
	n=n//10
print("greatest digit ",bd)

In [ ]:
#14.strongnumber

n=int(input("Enter a number"))
temp=n
sum=0
while n!=0:
	d=n%10
	fact=1
	while d>1:
		fact*=d
		d-=1
	sum+=fact
	n=n//10
if sum==temp:
	print("Strong number")
else:
	print("Not a strong number")

In [ ]:
#15.spynumber

n=int(input("Enter a number"))
sum=0
product=1
while n!=0:
	d=n%10
	sum+=d
	product*=d
	n=n//10
if sum==product:
	print("Spy Number")
else:
	print("Not a spy number")

In [ ]:
def factorial(x):
  if x ==1:
    return 1
  else:
    return (x*factorial(x-1))
num=3
print("the factorial of",num,"is",factorial(num))

the factorial of 3 is 6

In [ ]:
import calendar
year = int(input("Enter the year: "))
month = int(input("Enter the month (1-12): "))
cal = calendar.month(year, month)
print(f"\nCalendar for {calendar.month_name[month]} {year}:\n")
print(cal)

Enter the year: 2007
Enter the month (1-12): 10

Calendar for October 2007:

    October 2007
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
#class related problems
class person:
    def __init__(self,name,age):#parameter constructor
        self.name=name
        self.age=age
    def display(self):
        print(f"my name is:{self.name}my age is:{self.age}")
#object creation
p1=person("manu",5)
#function calling using object
p1.display()

In [ ]:
#students name number address
class student:
    def __init__(self,name,number,address):
        self.name=name
        self.number=number
        self.address=address
    def display(self):
        print(f"student name is:{self.name}\nstudent number is:{self.number}\nstudent address is:{self.address}")
p1=student("neha",97681772,"kochi,edappilly")
p1.display()

student name is:neha
student number is:97681772
student address is:kochi,edappilly

In [ ]:
class Person:
    def __init__(self):#non-parameter
        print("welcome")

    def display(self,name,age):
        self.name=name
        self.age=age
        print(f"my name is:{self.name}my age is:{self.age}")
p1=Person()
p1.display("anu",25)

welcome
my name is:anumy age is:25

In [ ]:
import math
result=math.sqrt(5)
print(result)

import math as m
result=m.sqrt(5)
print(result)

from math import sqrt
result=sqrt(5)
print(result)

from math import *
result=sqrt(5)
print(result)

In [ ]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    def drive(self):
      print("d")

class Car(Vehicle):
    def drive(self):
      print(f"{self.brand} {self.model} is now driving on the road.")

class Motorcycle(Vehicle):
    def drive(self):
      print(f"{self.brand} {self.model} is now riding on the street.")

TypeError: ignored

In [ ]:
class Vehicle:


    def display():
        print('Vehicle')
class Car(Vehicle):
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model
    def display(self):
        print(f'You are driving the car , brand:  {self.brand} and model: {self.model}')
class Motorcycle(Vehicle):
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model
    def display(self):
        print(f'You are riding the motorcycle ,  brand:  {self.brand} and model: {self.model}')

car1 = Car('Nissan','Sunny')
bike1 = Motorcycle('TVS','Raider')
car1.display()
bike1.display()

In [ ]:
class Animal:
    def __init__(self,name):
        self.name=name
    def speak(self):
        print("welcome to animals world")
class dog(Animal):
    def speak(self):
        print(f"{self.name}says bowwww!!!!")
class cat(Animal):
    def speak(self):
        print(f"{self.name}says meoww!!!!")
d=dog("puppy")
d.speak()
c=cat()
c.speak()

In [ ]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def employee(sef):
        print("its the details of the employee")
class emplyee_id(person):
    def employee(self):
        print(f"employee name:{self.name} \nage:{self.age}\n id:1234")
ei=emplyee_id("hari",30)
ei.employee()

In [ ]:
class car(Vehicle):
    def display(self,number):
        self.number=number
        print(f"{self.make}{self.model}{self.number}")

class motorcycle(Vehicle):
    def display(self,number):
        self.number=number
        print(f"{self.make}{self.model}{self.number}")

c=car(1993,"jeed")
c.start()
c.display(4)
c.stop()
m=motorcycle(1995,"pleassure")
m.start()
m.display(4)
m.stop()

NameError: ignored

In [ ]:

class Shape:
    def __init__(self,area):
        self.area = area
class Circle(Shape):
    def __init__(self,radius):
        self.radius = radius
    def area(self):
        result = (3.14) * self.radius * self.radius
        print(f'Area of circle: {result}')
class Rectangle(Shape):
    def __init__(self,length,breadth):
        self.length = length
        self.breadth = breadth
    def area(self):
        result = self.length * self.breadth * (0.5)
        print(f'Area of Rectangle: {result}')
c = Circle(2)
r = Rectangle(2,4)
c.area()
r.area()

In [ ]:
class Person:
    def __init__(self, name, address, number):
        self.name = name
        self.address = address
        self.number = number
        self.work_details = ""  # Initialize work_details as an empty string
        print("I'm from Kannur to take details:")

    def addi(self, work_details):
        self.work_details = work_details  # Set work_details in the addi method

    def display(self):
        print(f"Name: {self.name}\nAddress: {self.address}\nNumber: {self.number}\nAdditional details: {self.work_details}")

p1 = Person("Jenny", "Delhi", 957845256)
p1.addi("Engineer")
p1.display()

I'm from Kannur to take details:
Name: Jenny
Address: Delhi
Number: 957845256
Additional details: Engineer

In [ ]:
#shape Inheritance:
class Shape:
    def area(self):
        pass

    def perimeter(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        print("Area of Circle:", 3.14 * self.radius * self.radius)

    def perimeter(self):
        print("Perimeter of Circle:", 2 * 3.14 * self.radius)

class Square(Shape):
    def __init__(self, side_length):
        self.side_length = side_length

    def area(self):
        print("Area of Square:", self.side_length * self.side_length)

    def perimeter(self):
        print("Perimeter of Square:", 4 * self.side_length)

class Triangle(Shape):
    def __init__(self, side1, side2, side3):
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3

    def area(self):
        s = (self.side1 + self.side2 + self.side3) / 2
        area = (s * (s - self.side1) * (s - self.side2) * (s - self.side3)) ** 0.5
        print("Area of Triangle:", area)

    def perimeter(self):
        print("Perimeter of Triangle:", self.side1 + self.side2 + self.side3)

circle=Circle(5)
square = Square(4)
triangle = Triangle(3,4,5)

circle.area()
circle.perimeter()

square.area()
square.perimeter()

triangle.area()
triangle.perimeter()

Area of Circle: 78.5
Perimeter of Circle: 31.400000000000002
Area of Square: 16
Perimeter of Square: 16
Area of Triangle: 6.0
Perimeter of Triangle: 12

In [ ]:
#3. **Employee Inheritance:**
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

class Manager(Employee):
    def __init__(self,name,salary,num_subordinates):
        super().__init__(name, salary)
        self.num_subordinates = num_subordinates

    def display_info(self):
        print(f"Manager: {self.name}, Salary: {self.salary}, Subordinates: {self.num_subordinates}")

class Developer(Employee):
    def __init__(self,name,salary,programming_languages):
        super().__init__(name,salary)
        self.programming_languages=programming_languages

    def display_info(self):
        print(f"Developer:{self.name},Salary:{self.salary},Languages:{', '.join(self.programming_languages)}")

m=Manager("Anu",80000,10)
d=Developer("Jane",60000,["Python","JavaScript"])

m.display_info()
d.display_info()

Manager: Anu, Salary: 80000, Subordinates: 10
Developer:Jane,Salary:60000,Languages:Python, JavaScript

In [ ]:
#**Bank Account Inheritance:**
class BankAccount:
    def __init__(self, account_number, balance):
        self.account_number = account_number
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited ${amount}. New balance: ${self.balance}")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew ${amount}. New balance: ${self.balance}")
        else:
            print("Insufficient funds")

class SavingsAccount(BankAccount):
    def __init__(self, account_number, balance, interest_rate):
        super().__init__(account_number, balance)
        self.interest_rate = interest_rate

    def accrue_interest(self):
        interest = self.balance * self.interest_rate
        self.deposit(interest)
        print(f"Interest accrued: ${interest}")

class CheckingAccount(BankAccount):
    def __init__(self, account_number, balance, overdraft_limit):
        super().__init__(account_number, balance)
        self.overdraft_limit = overdraft_limit

    def withdraw(self, amount):
        if amount <= self.balance + self.overdraft_limit:
            self.balance -= amount
            print(f"Withdrew ${amount}. New balance: ${self.balance}")
        else:
            print("Insufficient funds (including overdraft)")

# Object creation and method calls
savings_account = SavingsAccount(account_number="123456789", balance=5000, interest_rate=0.02)
checking_account = CheckingAccount(account_number="987654321", balance=3000, overdraft_limit=1000)

savings_account.deposit(1000)
savings_account.accrue_interest()

checking_account.deposit(500)
checking_account.withdraw(4000)

In [ ]:
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Mammal(Animal):
    def __init__(self, name, age, fur_color):
        super().__init__(name, age)
        self.fur_color = fur_color

    def give_birth(self):
        print(f"{self.name} the mammal is giving birth.")

class Bird(Animal):
    def __init__(self, name, age, wingspan):
        super().__init__(name, age)
        self.wingspan = wingspan

    def fly(self):
        print(f"{self.name} the bird is flying with a wingspan of {self.wingspan} meters.")

class Fish(Animal):
    def __init__(self, name, age, scale_color):
        super().__init__(name, age)
        self.scale_color = scale_color

    def swim(self):
        print(f"{self.name} the fish is swimming with {self.scale_color} scales.")

# Object creation and method calls
mammal = Mammal(name="Lion", age=5, fur_color="Golden")
bird = Bird(name="Eagle", age=3, wingspan=6.5)
fish = Fish(name="Salmon", age=2, scale_color="Silver")

mammal.give_birth()
bird.fly()
fish.swim()

In [ ]:
#issubclass
class Calculation1:
    def summation(self,a,b):
        return a+b;
class Calculation2:
    def multiplication(self,a,b):
        return a*b;
class Derived(Calculation1,Calculation2):
    def divide(self,a,b):
        return a/b;
d=Derived()
print(issubclass(Derived,Calculation2))
print(issubclass(Calculation1,Calculation2))

True
False

In [ ]:
#isinstance
class Calculation1:
    def summation(self,a,b):
        return a+b;
class Calculation2:
    def multiplication(self,a,b):
        return a*b;
class Derived(Calculation1,Calculation2):
    def divide(self,a,b):
        return a/b;
d=Derived()
print(isinstance(d,Derived))

In [ ]:
#rate of interest
class Bank:
  def getroi(self):
    return 10;
class SBI(Bank):
  def getroi(self):
    return 7;
class ICICI(Bank):
  def getroi(self):
    return 8;
b1=Bank()
b2=SBI()
b3=ICICI()
print("Bank Rate of interest:",b1.getroi())
print("Bank Rate of interest:",b1.getroi())
print("Bank Rate of interest:",b1.getroi())

In [ ]:
#exam9
num=int(input("Enter a number:"))
last_digit=num%10
if last_digit%3==0:
    print(f"The last digit {last_digit} is divisible by 3.")
else:
    print(f"The last digit {last_digit} is not divisible by 3.")

Enter a number: 123
The last digit (3) is divisible by 3.

In [ ]:
city=input("Enter a city: ")

if city=="Delhi":
    monument="Red Fort"
elif city== "Agra":
    monument = "Taj Mahal"
elif city == "Jaipur":
    monument = "Jal Mahal"
else:
    monument = "Monument information not available for this city."

print(f"In {city}, the monument is {monument}.")

In [ ]:
limit=int(input("enter the number which you want to sum up the factorial"))
try:
    factorial=1
    while(limit>0):
        factorial*=limit
        limit-=1
    print(factorial)
except:
    if limit<0:
        raise Exception("negative value is not allowed")

enter the number which you want to sum up the factorial-5
1

In [ ]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
try:
  c=a/b
except:
  c=a/(b+2)
  print("division by zero not permitted")
  print(c)

enter a number:4
enter a number:0
division by zero not permitted
2.0

In [ ]:
string = "Python Exceptions"

for s in string:
    if (s != o:
        print( s )

In [ ]:
#Python code after removing the syntax error
string = "Python Exceptions"

for s in string:
    if (s != o):
        print( s )

In [ ]:
a=int(input("Enter a number : "))
b=int(input("Enter a number : "))
c=a/b
c=a/(b+2)
print("Division by zero not permitted")
print(c)

In [ ]:
def initialize_tracker(initial_balance):
    print("salary of arun in a month:",initial_balance)
    return {
        'balance':initial_balance,
        'expenses':[]
    }
def add_expense(tracker, amount, description):
    tracker['balance'] -= amount
    tracker['expenses'].append((amount, description))
def view_balance(tracker):
    return tracker['balance']
def view_expenses(tracker):
    return tracker['expenses']
def track_expenses():
    expense_tracker = initialize_tracker(50000)
    add_expense(expense_tracker,5500,"Groceries")
    add_expense(expense_tracker,3000,"Dinner")
    add_expense(expense_tracker,3500,"Travel")
    print("Current Balance:", view_balance(expense_tracker))
    print("Expenses:", view_expenses(expense_tracker))
track_expenses()

In [ ]:
def initialize_tracker(initial_balance):
    return {'balance': initial_balance,'expenses':[]}

def add_expense(tracker,amount,category):
    tracker['balance'] -=amount
    tracker['expenses'].append({'amount':amount,'category':category})

def view_balance(tracker):
    return tracker['balance']

def view_expenses(tracker):
    return tracker['expenses']
def track_expenses():
    expense_tracker=initialize_tracker(10000)
    add_expense(expense_tracker,1500, "Groceries")
    add_expense(expense_tracker,1500, "Dinner")
    add_expense(expense_tracker,200, "Movie")
    return view_balance(expense_tracker), view_expenses(expense_tracker)
balance, expenses = track_expenses()
print("Current Balance:", balance)
print("Expenses:", expenses)